.one {
  background-color: #a4d323;
  width: 1550px;
  height: 410px;
  clip-path: polygon(0% 0%, 0% 290%, 100% 00%);
}
.two {
  background-color: rgb(27, 26, 26);
  display: block;
  margin-left: -400px;
  width: 1850px;
  height: 410px;
}
.size {
  height: 800px;
  width: 800px;
  position: relative;
  top: -230px;
  left: 200px;
}
